// FLAT COLORS //
$white: #eeeeee;
$black: #111111;
$bb-blue: #55ffee;
$bb-secondary: #bbfff8;

// GRADIENTS //
$seafoam: linear-gradient(120deg, #55ffee 35%, #47ff85);

// LAYOUT //
$h-center: translate(-50%, 0);
$v-center: translate(0, -50%);
$hv-center: translate(-50%, -50%);
